{% extends 'header.html' %}

{% block container %}
    <h1>Операторы</h1>
    <ol class="square">
        {% for op in operators %}
            <li>{{ op.login }}
                <a onclick="if (! confirm('Удалить оператора {{ op.login }}?')) { return false; }" href="delete-operator/{{ op.login }}">Удалить</a>
            </li>
        {% endfor %}
    </ol>
    <a href="add-operator">Создать оператора</a>
    <h1 style="margin-top: 32px">Доступные устройства</h1>
    <ol class="square">
        {% for device in devices %}
            <li>{{ device.device_type }} ({{ device.type }})
                <a onclick="if (! confirm('Удалить устройство {{ device.device_type }}?')) { return false; }" href="delete-device/{{ device.pk }}">Удалить</a>
            </li>
        {% endfor %}
    </ol>
    <a href="add-device">Добавить устройство</a>
    <h1>Пользователи</h1>
    <ol class="square">
        {% for us in users %}
            <li>{{ us.login }}
                <a onclick="if (! confirm('Удалить пользователя {{ us.login }}?')) { return false; }" href="delete-user/{{ us.login }}">Удалить</a>
            </li>
        {% endfor %}
    </ol>
    <a href="add-user">Создать пользователя</a>
    <h1>Характеристики</h1>
    <ol class="square">
        {% for ch in chars %}
            <li>{{ ch.name }}
                <!--<a onclick="if (! confirm('Удалить характеристику {{ ch.name }}?')) { return false; }" href="delete-characteristic/{{ ch.name }}">Удалить</a>-->
            </li>
        {% endfor %}
    </ol>
    <a href="add-characteristic">Создать характеристику</a>

{% endblock %}