{% extends 'header.html' %}

<div>
<canvas id="myChart"></canvas>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                position: 'top',
                },
                title: {
                display: true,
                text: 'Chart.js Line Chart'
                }
            }
        },
    };

    new Chart(ctx, config);
  </script>

{% block container %}
<table>
    <tr>
        <th>Time</th>
        <th>Value</th>
    </tr>
    {% for val in data %}
    <tr>
        <td>{{val[0]}}</td>
        <td>{{val[1]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}