{% extends 'header.html' %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
    const config = {
        type: 'line',
        data: {
            labels: {{timestamps | tojson}},
            datasets: [{
                label: "Данные ЭКГ",
                data: {{data | tojson}}
            }]
        }
    };

    window.onload = () => new Chart(document.getElementById('myChart'), config);
  </script>
{% endblock %}

{% block container %}
<div>
<canvas id="myChart"></canvas>
</div>
    
<table class="table">
    <tr>
        <th>Time</th>
        <th>Value</th>
    </tr>
    {% for ind in range(l) %}
    <tr>
        <td>{{timestamps[ind]}}</td>
        <td>{{data[ind]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}