{% extends 'header.html' %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script>

<script>
    function create_config(label, data, name) {
        config = {
            type: 'line',
            data: {
                labels: label,
                datasets: [{
                    label: name,
                    data: data
                }]
            },
            options: {
                plugins: {
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'x',
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    point: {
                        radius: 0
                    }
                },
                scales:{
                    x: {
                        ticks: {
                            display: false
                        }
                    }
                }
            }
        };
        return config;
    }
    config1 = create_config({{timestamps | tojson}}, {{data_first | tojson}}, "Данные ЭКГ первого канала");
    config2 = create_config({{timestamps | tojson}}, {{data_second | tojson}}, "Данные ЭКГ второго канала");

    window.onload = () => {new Chart(document.getElementById('myChart1'), config1); new Chart(document.getElementById('myChart2'), config2);};
  </script>
{% endblock %}

{% block container %}
<div style="width: 1000px; height: 500px">
<canvas id="myChart1"></canvas>
</div>
<div style="width: 1000px; height: 500px; margin-top: 50px;">
<canvas id="myChart2"></canvas>
</div>


{% endblock %}