{% extends 'header.html' %}

{% block container %}

<form  class="contact_form"   method="POST" name="select">
<ul>
    {{ form.csrf_token() }}
    <li>
         <h2>Какие данные вы хотите получить?</h2>
    </li>
    <li>
        {{ form.user_login.label }}
        {{ form.user_login }}
    </li>
    <li>
        {{ form.mac.label }}
        {{ form.mac }}
    </li>
    <li>
        {{ form.freq.label }}
        {{ form.freq }}
    </li>
    <li>
        {{ form.start_date.label }}
        {{ form.start_date(placeholder="YYYY-MM-DD H:M:S.f") }}
    </li>
    <li>
        {{ form.end_date.label }}
        {{ form.end_date(placeholder="YYYY-MM-DD H:M:S.f") }}
    </li>
</ul>
    {{ form.submit(class_ = "submit") }}
</form>

{% endblock %}