{% extends 'header.html' %}

{% block container %}

<form  class="contact_form"   method="POST" name="add-operator">
<ul>
    {{ form.csrf_token() }}
    <li>
         <h2>Введите информацию об операторе</h2>
    </li>
    <li>
        {{ form.login.label }}
        {{ form.login }}
    </li>
    <li>
        {{ form.password.label }}
        {{ form.password(class_="kind-password") }}
    </li>
    <li>
        {{ form.is_admin.label }}
        {{ form.is_admin }}
    </li>
</ul>
    {{ form.submit(class_ = "submit") }}
</form>

{% endblock %}