<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoMT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style64.css') }}">
</head>
<body>
<header>
    <div class='hat'>
        <img src="https://asvk.cs.msu.su/sites/all/themes/professional_theme/asvk-logo-invert-rc2-1_2.png" alt="logo"
             style="height: 90px; margin-right: 24px">
        <h1 class="iomt">IoMT</h1>
    </div>
    <div class="header">
        <a class="{% if request.path == '/data/' or request.path == '/data2/' %}active{% endif %}" href="/data/">Получить данные</a>
{#        <a class="{% if request.path == '/adduser/' %}active{% endif %}" href="/adduser/">Добавить пациента</a>#}
        <a class="{% if request.path == '/users/' %}active{% endif %}" href="/users/">Информация о пациентах</a>
	{#	<a class="{% if request.path == '/devices/' %}active{% endif %}" href="/devices/">Устройства</a>#}
        <a href="/grafana/">Панели мониторинга</a>
        <div class="header-right">
            {% if 'Admins' in current_user.__class__.__name__ %}<a href="/admins/">Админ-панель</a>{% endif %}
            <a href="/logout/">Выход</a>
        </div>
    </div>
</header>

  <div class="container">
    {% block container %} {% endblock %}
  </div>

</body>
</html>
