global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
    monitor: 'demoswarm'

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'lb'
    static_configs:
      - targets: ['haproxy_exporter:9101']