# unit-файл systemd

[Unit]
Description=Gunicorn instance to serve iomt project
After=network.target

[Service]
User=kh9iz
Group=www-data
WorkingDirectory=/home/kh9iz/iomt-project/web/
Environment="PATH=/home/kh9iz/iomt-project/.env/bin"
ExecStart=/home/kh9iz/iomt-project/.env/bin/gunicorn --config /home/kh9iz/iomt-project/config/gunicorn.conf.py

[Install]
WantedBy=multi-user.target