{% extends 'header.html' %}

{% block container %}

<h1>Шаг 2</h1>

<form class="contact_form" method="POST" action="/data2/", name="data2">

<ul>
    {{ form.csrf_token() }}
    <li>
        {{ form.date_begin.label }}
        {{ form.date_begin(placeholder="YYYY-MM-DD HH:MM:SS") }}
    </li>
    <li>
        {{ form.date_end.label }}
        {{ form.date_end(placeholder="YYYY-MM-DD HH:MM:SS") }}
    </li>
    <li>
        {{ form.params.label }}
        {% for subfield in form.params %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
    </li>
</ul>
    {{ form.submit(class_ = "submit") }}
</form>

{% endblock %}